@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

html {
	font-family: Inconsolata, Consolas, monospace;
	font-size: 16px;
}

body {
	margin: 0 16px 32px 16px;
}

/* TABLES */

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb;
}
tbody > tr:last-child > td {
	border-bottom-width: 0;
}
tbody > tr:last-child > td {
	border-bottom-width: 0;
}
td,
th {
	border-left: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	border-width: 0 0 1px 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: 0.4em 0.8em;
}
td:first-child,
th:first-child {
	border-left-width: 0;
}
tr:first-child {
	background-color: #d0d0e0;
	color: #000000;
	text-align: center;
	vertical-align: bottom;
}
tr:nth-child(2n-1) td {
	background-color: #f2f2f2;
}

/* LISTS */

li {
	margin: 0 0 4px 0;
}

/* LINKS */

a:link {
	color: #2f6cb6;
	text-decoration: none;
}

a:visited {
	color: #2f6cb6;
	text-decoration: none;
}

a:hover {
	color: #2f6cb6;
	text-decoration: underline;
}

a:active {
	color: #2f6cb6;
	text-decoration: underline;
}
